footer { 
    bottom: 0;
    position: absolute;
    width: 100vw;
    padding-bottom: 40px;
    overflow: hidden;
    display: flex;
    background-color: #0693e3;
}

.legacy {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 51, 91);
}

.legacy p{
    color: white;
    margin: 0 auto; 
    font-size: 12px;
    font-weight: 600;
    font-family: "Libre Baskerville";
    text-decoration: none;
}