* {
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville";
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #F1FAEE;
}

.my_padding {
    position: relative;
    height: 6rem;
}