* {
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville";
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #F1FAEE;
}

.my_padding_top {
    position: relative;
    height: 6rem;
}

.my_padding_bot {
    position: relative;
    height: 40px;
}

.main-presentation {
    overflow: hidden;
    position: relative;
    max-width: 1600px;
    padding-top: 120px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 40px;
}

.banner_intel{
    background-color: rgb(51,51,51);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}