.main-presentation {
    min-height: 500px;
    overflow: hidden;
    position: relative;
    max-width: 1600px;
    padding-top: 120px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 40px;
}

table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

tr{
    position: relative;
    background-color: aquamarine;
    
}

td{
    position: relative;
    width: 25%;
    height: 50vh;
}


.product {
    position: relative;
    width: 95%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    overflow: hidden;
    line-height: 1.5;
}

.product-img {
    position: relative;
    width: 94%;
    height: 65%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 10%;
    overflow: hidden;
}

.product-img img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.content {
    position: relative;
    width: 100%;
    height: 30%;
    padding-left: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.my_filter {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(0,0,0,0);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: black;
    font-size: 13px;
    font-weight: 600;
    font-family: "Libre Baskerville";
    text-decoration: none;
    cursor: pointer;
}

.content button {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 32.2px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: orange;

    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(132, 106, 41);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(156, 126, 49);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(156, 126, 49);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(168, 135, 52);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    box-sizing: border-box;

    transition: background-color 0.5s;
}

.my_filter:hover {
    background-color: rgb(0,0,0,0.03);
}

.content p{
    position: relative;
    top: 25%;
}
